@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #784cfb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --main-grid: repeat(auto-fill, minmax(300px, 1fr));
    --main-padding: 40px;
}


/* General styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.25rem;
    color: var(--dark-two);
    line-height: 1.6;
}

.image {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.z-index {
    position: relative;
    z-index: 2;
    animation: colourchange 7s infinite alternate;
}

@keyframes colourchange {
    0% {
        filter: hue-rotate(0deg);
        top: 0px;
        left: 0px;
    }
    25% {
        filter: hue-rotate(25deg);
        top: 25%;
        left: 25%;
    }
    75% {
        filter: hue-rotate(75deg);
        left: -25%;
        top: 25%;
    }
    100% {
        filter: hue-rotate(360deg);
        top: 0px;
        left: 0px;
    }
}

.section {
    padding: 7rem 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

.title::before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto;
}

.title-sm {
    color: var(--dark-one);
    font-weight: 600;
    font-size: 1.6rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay .shape {
    width: initial;
    opacity: 0.13;
    position: absolute;
    animation: rotation 15s infinite linear;
}

.overlay.overlay-lg .shape {
    height: 55px;
    animation: rotation 15s infinite linear;
}

.points {
    opacity: 0.1;
    position: absolute;
    height: 300px;
}

.btn {
    display: inline-block;
    padding: 0.85rem 0.8rem;
    background-color: transparent;
    color: var(--dark-one);
    border-radius: 0.35rem;
    border: 2px solid #333;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.btn:hover {
    background-color: #00ff00;
}

.btn.small {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.overlay.overlay-sm .shape {
    filter: brightness(0) invert(1);
    opacity: 0.15;
    height: 40px;
}

.overlay.overlay-sm .shape.mandala {
    height: initial;
    width: 70px;
    animation: rotation 15s infinite linear;
}

.overlay.overlay-sm .shape.geometrical {
    height: 30px;
    animation: rotation 15s infinite linear;
}


/* End General styles */


/* Header */

header {
    width: 100%;
    background-color: var(--light-three);
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-three);
    box-shadow: 10px 10px 10px #0000008c;
}

.logo {
    display: flex;
    width: 25%;
    align-items: center;
    height: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links ul {
    display: flex;
    align-items: center;
}

.links a {
    align-items: center;
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--dark-one);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover {
    /*color: var(--main-color);
    border-radius: 2rem;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;*/
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a.active:hover {
    color: var(--light-one);
    background-color: var(--main-color);
}

#my-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: midnightblue;
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-download {
    display: inline-block;
    padding: 0.25rem 0.25rem;
    background-color: transparent;
    color: var(--dark-one);
    border-radius: 0.25rem;
    border: 2px solid #222;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.btn-download:hover {
    background-color: #00ff00;
}

.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    z-index: 100;
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;
}

.hamburger-menu .bar {
    width: 2.1rem;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: var(--main-color);
}

.bar:before,
.bar:after {
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--dark-one);
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}

nav.open .hamburger-menu .bar {
    background-color: transparent;
    transform: rotate(360deg);
}

nav.open .hamburger-menu .bar::before {
    transform: translateY(0) rotate(45deg);
    background-color: var(--light-one);
}

nav.open .hamburger-menu .bar::after {
    transform: translateY(0) rotate(-45deg);
    background-color: var(--light-one);
}

nav.open .links {
    transform: translateX(0);
    width: 50%;
    background: linear-gradient(360deg, #12c2e9, midnightblue, #6b44e0);
}

.header-content .grid-2 {
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.column-1 {
    margin-right: 1.5em;
    top: 0;
}

.column-2 {
    margin-left: 1.5em;
    top: 0;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}

.header-content.image.img-element {
    max-width: 750px;
}

header .mandala {
    right: 68%;
    top: 71%;
}

header .heart {
    right: 4%;
    bottom: 50%;
}

header .abstract {
    right: 7%;
    bottom: 75%;
}

header .cubes {
    right: 50%;
    bottom: 82%;
}

header .code {
    right: 5%;
    top: 67%;
}

header .geometrical {
    bottom: 75%;
    left: 20%;
}

header .hexagonshape {
    bottom: 8%;
    right: 55%;
}

header .lettern {
    bottom: 30%;
    left: 45%;
}

header .point1 {
    width: 420px;
    bottom: -75px;
    left: -150px;
}

header .point2 {
    width: 70%;
    top: 65%;
    left: 71%;
}


/* End Header */


/* Services */

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap {
    margin: 1.7rem 0.8rem;
    position: relative;
    box-shadow: 20px 20px 20px #0000008c;
    border-radius: 10px;
}

.card {
    position: relative;
    max-width: 390px;
    max-height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: .3s;
    border-left: 15px solid #003333;
    border-radius: 10px;
}

.card::before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    color: var(--dark-two);
    opacity: 0.045;
}

.card::after {
    content: "";
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    position: absolute;
    transition: 0.3s;
}

.cards h3 {
    color: var(--dark-two);
}

.card .text {
    color: var(--dark-one);
}

.card-wrap:hover .card {
    transform: translateY(-15px);
    box-shadow: 3px 3px 3px #784cfb;
}

.icon {
    width: 90px;
    margin-bottom: 1.7rem;
}

.card.title-sm {
    line-height: 0.8;
}

.card.text {
    font-size: 1.15rem;
    margin: 1.8rem 0;
}

#more {
    display: none;
}

#secondMore {
    display: none;
}

#thirdMore {
    display: none;
}

#forthMore {
    display: none;
}

#firthMore {
    display: none;
}

#sixMore {
    display: none;
}

.btn.firstReadMore {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.btn.secondReadMore {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.btn.thirdReadMore {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.btn.forthReadMore {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.btn.firthReadMore {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}


/* End Services*/


/*Portfolio*/

.portfolio {
    position: relative;
    width: 100%;
    background-color: var(--light-three);
}

.background-bg {
    position: absolute;
    width: 100%;
    height: 520px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #252525, #555, #7a7a7a);
}

.portfolio .title,
.portfolio .title:before {
    color: var(--light-three);
}

.portfolio .title:after {
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
}

.filter {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem;
    color: var(--dark-two);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.filter-btn.active {
    background-color: var(--light-one);
    color: var(--main-color);
}

.portfolio .heart {
    top: 28%;
    left: 20%;
}

.portfolio .cubes {
    top: 8%;
    right: 35%;
}

.portfolio .code {
    bottom: 10%;
    right: 4%;
}

.portfolio .abstract {
    bottom: 13%;
    left: 5%;
}

.portfolio .hexagonshape {
    top: 35%;
    right: 20%;
}

.portfolio .lettern {
    top: 10%;
    right: 8%;
}

.grid {
    width: 100%;
    margin: 1.5rem 0;
}

.grid-item {
    width: 33.33%;
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: center;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    border-color: #555;
    border-width: 16px;
    box-shadow: 10px 10px 10px #0000008c;
    height: 330px;
    width: 100%;
    cursor: pointer;
}

.gallery-image img {
    position: absolute;
    height: 115%;
    width: initial;
    top: 50%;
    left: 50%;
    border-width: 16px;
    border-color: #333;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left-color: #00ff00;
    border-width: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--light-one);
    background-color: rgba(120, 76, 251, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 3.2rem;
    opacity: 0;
    transition: 0.5s;
}

.img-overlay .plus {
    position: relative;
    margin: auto 0;
}

.plus:before,
.plus:after {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-two);
    border-radius: 3px;
}

.plus:before {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.img-discription {
    width: 100%;
}

.img-overlay h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.img-overlay h5 {
    font-size: 1.15rem;
    font-weight: 300;
}

.gallery-image:hover .img-overlay {
    opacity: 2;
}

.gallery-image:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
    display: flex;
    justify-content: center;
}


/*End Portfolio*/


/*About*/

.about {
    overflow: hidden;
}

.about img {
    max-width: 600px;
}

.about .text {
    margin-top: 1rem;
}

.about .column-1 {
    position: relative;
}

.about .column-1::before {
    content: "About";
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    color: var(--main-color);
    opacity: 0.04;
    top: 20px;
    left: 0;
    line-height: 0;
}

.about .points {
    width: 300px;
    top: 65%;
    left: 50%;
    opacity: 0.1;
}

.about .column-2 {
    position: relative;
}

.skills {
    text-align: center;
    padding-top: var(--main-padding);
}

.skills .text {
    padding-bottom: 20px;
}

.skills h2 {
    font-size: 22px;
}

.skills h2 span {
    color: var(--main-color);
}

.skills p {
    padding-bottom: 20px;
}

.skills .skills-card {
    display: grid;
    grid-template-columns: var(--main-grid);
    margin-bottom: 60px;
    grid-gap: 45px 15px;
    margin-top: 60px;
}

.skills .skills-card .cardskill {
    padding: 25px;
    text-align: center;
    background-color: var(--dark-one);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    color: var(--dark-two);
    transition: 3s;
    position: relative;
}

.skill .cardskill h4 {
    padding-top: 40px;
    padding-bottom: 14px;
    font-weight: 500;
}

.skill .cardskill p {
    line-height: 1.7px;
}

.skills .cardskill i {
    padding: 15px;
    width: 45px;
    height: 45px;
    font-size: 22px;
    background: linear-gradient(90deg, #00db, #6b44e0, #fc00ff);
    color: var(--dark-one);
    position: absolute;
    top: calc(-45px / 2);
    left: 42%;
    transform: rotate(45deg);
    transition: 1s;
    border: 1px solid var(--main-color);
}

.skills .cardskill:hover {
    background-color: transparent;
    box-shadow: 20px 20px 20px var(--dark-one);
}

.skills .cardskill:hover i {
    transform: rotate(0deg);
    background: #eaeaea;
}

.personal-skills {
    text-align: center;
    padding-top: var(--main-padding);
}

.personal-skills-card {
    display: grid;
    grid-template-columns: var(--main-grid);
    grid-gap: 30px 15px;
    margin: 1.7rem 0.8rem;
    margin-top: 40px;
    width: 100%;
}

.container .personal-skills-card h2 {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #222;
}

.personal-skills-card .box {
    padding: var(--main-padding);
    border-radius: 10px;
    border-left: 15px solid #152238;
    border-right: 15px solid #152238;
    background: transparent;
    box-shadow: -5px -5px 8px rgba(94, 104, 121, 0.288), 4px 4px 6px rgba(94, 104, 121, 0.288);
}

.box .chart {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 160px;
    height: 160px;
    color: #252525;
}

.box canvas {
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
}

#moreSkills {
    display: none;
}


/* End About */


/*Records */

.records {
    position: relative;
    background: linear-gradient(90deg, #252525, #555, #7a7a7a);
    padding: 5.2rem 0;
}

.records .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.record-circle {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid var(--light-one);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light-one);
}

.record-circle.active {
    background-color: var(--light-one);
    color: var(--dark-one);
    box-shadow: 0 0 0 15px rgb(255, 255, 255, 0.5);
}

.number {
    font-weight: 400;
    font-size: 2.35rem;
}

.sub-title {
    font-weight: 400;
    font-size: 1.12rem;
    text-transform: uppercase;
}

.records .heart {
    top: 28%;
    left: 20%;
}

.records .geometrical {
    top: 15%;
    left: 50%;
}

.records .cubes {
    top: 8%;
    right: 35%;
}

.records .code {
    bottom: 10%;
    right: 4%;
}

.records .abstract {
    bottom: 13%;
    left: 5%;
}

.records .hexagonshape {
    top: 35%;
    right: 20%;
}

.records .lettern {
    top: 10%;
    right: 8%;
}


/*End Records */


/*Contacts */

.contact {
    position: relative;
    width: 100%;
    padding: 13.5rem 0 8.5rem;
}

.contact::before,
.contact::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
}

.contact::before {
    top: 0;
    height: 50%;
    background: url(../img/White_Background_generated.jpg) center center / cover;
}

.contact-box {
    width: 100%;
    background-color: var(--light-one);
    width: 100%;
    border-radius: 45px;
    padding: 5.5rem 4.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    padding-right: 2rem;
}

.contact-form {
    padding-left: 2rem;
}

.contact-info .title::after {
    left: 0;
    transform: initial;
}

.information-wrap {
    margin-top: 2rem;
}

.information {
    display: flex;
    align-items: center;
}

.information:not(:last-child) {
    margin-bottom: 1.3rem;
}

.contact-icon {
    min-width: 67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--light-one);
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.contact-icon i {
    line-height: 67px;
}

.info-text {
    font-size: 1.3rem;
    display: inline-block;
}

.contact-form .title::after {
    display: none;
}

.contact-form .title {
    margin: 0;
}

.contact-form .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: 0.6rem;
}

.contact-input {
    padding: 1.2rem 2.1rem;
    margin: 0.6rem 0;
    border: none;
    outline: none;
    background: #f3f3f3;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    transition: 0.3s;
}

.contact-input::placeholder {
    font-weight: 400;
}

.contact-input.textarea {
    resize: none;
    min-height: 280px;
    border-radius: 2rem;
}

.contact-input:hover {
    background: #003333;
}

.contact-input:focus {
    background: #eaeaea;
}

.contact-input .submit {
    margin-top: 0.6rem;
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}

.submit {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}


/* End contacts */


/* HIre me */

.hireme {
    padding: 12rem 0;
}

.hireme .container {
    text-align: center;
}

.hireme .title {
    margin-bottom: 1.3rem;
}

.hireme .text {
    max-width: 1000px;
    margin: 0 auto 1.6rem auto;
}


/* End Hire me */


/*======Footer ======*/

footer {
    background-color: #222;
    padding: 6rem 0;
}

.footer .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-3-col {
    padding: 0 1.7rem;
}

.footer .title-sm {
    color: #fafafa;
    margin-bottom: 0.9rem;
}

.footer .text {
    color: #aaa;
}

.footer-links a {
    color: #888;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer-input-wrap {
    display: grid;
    grid-template-columns: auto 50px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1.2rem;
}


/*==================bottom footer =============*/

.bottom-footer {
    margin-top: 5.5rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright .text {
    color: #7b7b7b;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
}

.copyright .text span {
    color: var(--main-color);
    cursor: pointer;
}

.followme-wrap {
    display: flex;
}

.followme {
    display: flex;
    align-items: center;
}

.followme h3 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 1.3rem;
}

.followme .footer-line {
    width: 60px;
    height: 2px;
    background-color: #7b7b7b;
    margin: 0 1.2rem;
    display: inline-block;
}

.social-media a {
    color: #7b7b7b;
    font-size: 1.5rem;
    margin-right: 0.4rem;
    transition: 0.4s;
}

.social-media a:hover {
    color: var(--main-color);
}

.back-btn-wrap {
    margin-left: 2.5rem;
    position: relative;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    position: relative;
    z-index: 2;
}

.back-btn:hover {
    background-color: #6b44e0;
}

.back-btn-wrap::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    animation: scale 1.2s ease-out infinite 1.2s;
}

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.15;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}


/*============================End Bottom Footer ==================*/


/*========End Footer ==========*/


/*==============Start Responsive Design =================*/

@media (max-width: 1280px) {
    .text {
        font-size: 1rem;
    }
    .title {
        font-size: 2.1rem;
        padding-bottom: 0.65rem;
    }
    .title:before {
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
    .title:after {
        height: 3.5px;
        width: 70px;
    }
    .title-sm {
        font-size: 1.2rem;
    }
    .btn {
        padding: 0.75rem 1.7rem;
        font-size: 0.8rem;
    }
    .btn-download {
        padding: 0.75rem 1.7rem;
        font-size: 0.8rem;
    }
    .submit {
        padding: 0.55rem 1.6rem;
        font-size: 0.7rem;
    }
    .submit.small {
        padding: 0.55rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.small {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.firstReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.secondReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.thirdReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.forthReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.firthReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.sixReadMore {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .btn.expandSkills {
        padding: 0.65rem 1.6rem;
        font-size: 0.7rem;
    }
    .section-header .text {
        max-width: 500px;
    }
    .section {
        padding: 4.5rem 0;
        background-color: var(--light-two);
    }
    .column-1 {
        margin-right: 1rem;
    }
    .column-2 {
        margin-left: 1rem;
    }
    .overlay.overlay-lg .shape {
        height: 35px;
        animation: rotation 15s infinite linear;
    }
    .overlay.overlay-lg .shape.mandala {
        height: initial;
        width: 63px;
        animation: rotation 15s infinite linear;
    }
    .overlay.overlay-lg .shape.geometrical {
        height: 24px;
        animation: rotation 15s infinite linear;
    }
    .overlay.overlay-sm .shape {
        height: 24px;
    }
    .overlay.overlay-sm .shape.mandala {
        height: initial;
        width: 39px;
    }
    .overlay.overlay-sm .shape.geometrical {
        height: 19px;
    }
    header .point1 {
        width: 270px;
        bottom: -50px;
        left: -75px;
    }
    header .point2 {
        width: 340px;
    }
    .header-content .image .img-element {
        max-width: 500px;
    }
    nav .container {
        height: 4.5rem;
    }
    .header-content .container.grid-2 {
        min-height: calc(100vh - 4.5rem);
        padding-bottom: 1.5rem;
    }
    .logo {
        width: 65px;
    }
    .links a {
        font-size: 0.8rem;
        padding: 0.65rem 0.7rem;
    }
    .links a.active {
        font-size: 0.7rem;
        padding: 0.7rem 1.7rem;
        margin-left: 0.6rem;
    }
    .header-title {
        font-size: 2.6rem;
    }
    .header-content .text {
        margin: 1.1rem 0;
    }
    .card {
        min-height: 390px;
        max-width: 290px;
        padding: 2.2rem 1.5rem;
    }
    .icon {
        width: 65px;
        margin-bottom: 0.8rem;
    }
    .card .text {
        font-size: 0.9rem;
        margin: 1rem 0;
    }
    .card::before {
        font-size: 5rem;
    }
    .card-wrap {
        margin: 1rem 0.6rem;
    }
    .services .points {
        left: -60px;
    }
    .grid {
        margin: 0.8rem 0;
    }
    .grid-item {
        padding: 0.8rem;
    }
    .gallery-image {
        height: 250px;
        max-width: 325px;
    }
    .gallery-image .img-overlay {
        padding: 1.4rem 2rem;
    }
    .plus:before,
    .plus:after {
        width: 2.8rem;
    }
    .img-overlay h3 {
        font-size: 1.1rem;
    }
    .img-overlay h5 {
        font-size: 0.8rem;
    }
    .background-bg {
        height: 370px;
    }
    .filter-btn {
        padding: 0.6rem 1.45rem;
        font-size: 0.7rem;
    }
    .about .image {
        max-width: 420px;
    }
    .about .text {
        margin-top: 0.7rem;
    }
    .skills {
        margin: 0.9rem 0 1.7rem 0;
    }
    .skill-title {
        font-size: 1rem;
    }
    .skill-bar {
        height: 6px;
    }
    .about .column-1::before {
        font-size: 6rem;
        top: 13px;
    }
    .about .points {
        width: 230px;
        left: 65%;
    }
    .record-circle {
        width: 150px;
        height: 150px;
        border-width: 3px;
    }
    .record-circle .number {
        font-size: 1.8rem;
    }
    .record-circle .sub-title {
        font-size: 0.9rem;
    }
    .contact {
        padding: 9rem 0 6rem 0;
    }
    .contact-form {
        padding-left: 1rem;
    }
    .contact-info {
        padding-right: 1rem;
    }
    .contact-box {
        padding: 3.6rem 3rem;
    }
    .information-wrap {
        margin-top: 1.2rem;
    }
    .contact-icon {
        min-width: 50px;
        height: 50px;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
    .contact-icon i {
        line-height: 50px;
    }
    .info-text {
        font-size: 1.05rem;
    }
    .contact-input {
        font-size: 0.9rem;
        padding: 0.9rem 1.6rem;
        margin: 0.4rem 0;
    }
    .hireme {
        padding: 8rem 0;
    }
    .footer {
        padding: 4rem 0;
    }
    .footer-links a {
        font-size: 1rem;
    }
    .footer .title-sm {
        margin-bottom: 0.5rem;
    }
    .footer-input-wrap {
        height: 36px;
        margin-top: 0.8rem;
    }
    .footer-input {
        font-size: 0.9rem;
        padding: 0 1.2rem;
    }
    .input-arrow {
        font-size: 1.2rem;
    }
    .copyright .text {
        font-size: 0.95rem;
    }
    .followme h3 {
        font-size: 1.05rem;
    }
    .followme .footer-line {
        margin: 0 0.8rem;
    }
    .social-media a {
        font-size: 1.05rem;
    }
    .back-btn-wrap {
        margin-left: 1.3rem;
    }
    .back-btn {
        width: 43px;
        height: 43px;
        font-size: 0.9rem;
    }
    .back-btn-wrap::before {
        width: 45px;
        height: 45px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 850px) {
    .grid-2 {
        grid-template-columns: 1fr !important;
    }
    .column-1 {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .column-1 {
        margin-left: 0;
        margin-top: 1rem;
    }
    .hamburger-menu {
        display: flex;
    }
    .header-content {
        margin-top: 1rem;
    }
    .header-title {
        font-size: 2.3rem;
    }
    .header-content .image {
        max-width: 400px;
        margin: 0 auto;
    }
    header .column-1 {
        max-width: 550px;
        margin: 0 auto;
    }
    .links {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: #252525;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateX(100%);
        transition: 0.5s;
    }
    .links ul {
        flex-direction: column;
    }
    .links a {
        color: var(--light-one);
    }
    .links a:active {
        margin-left: 0;
        margin: 0.5rem 0;
    }
    .header-content .container.grid-2 {
        min-height: 80vh;
    }
    .point1 {
        display: none;
    }
    header .mandala {
        bottom: 55%;
        left: 23%;
    }
    header .geometrical {
        left: 8%;
        bottom: 40%;
    }
    header .abstract {
        bottom: 87%;
        left: 75%;
    }
    header .cubes {
        top: initial;
        bottom: 5%;
        left: 13%;
    }
    header .code {
        right: 14%;
        bottom: 63%;
    }
    header .point2 {
        width: 280px;
        bottom: -10px;
        left: 60%;
    }
    header .heart {
        left: 90%;
        top: 54%;
    }
    .grid-item {
        width: 50%;
    }
    .gallery-image {
        height: 210px;
        max-width: 270px;
    }
    .background-bg {
        height: 340px;
    }
    .skill-bar {
        width: 100%;
    }
    .about .column-1::before {
        font-size: 5rem;
    }
    .about .points {
        top: 60%;
        left: 59%;
    }
    .skills .skills-card .cardskill {
        width: 100%;
        object-fit: contain;
    }
    .personal-skills-card .box {
        grid-template-columns: 1fr;
        padding: 2.7rem 2.7rem;
        width: 100%;
    }
    .box canvas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        bottom: 50%;
        left: 50%;
    }
    .container .skills .skills-card .cardskill {
        padding: 3.2rem 2.7rem;
    }
    .contact-box {
        grid-template-columns: 1fr;
        padding: 3.2rem 2.7rem;
    }
    .contact-info {
        padding-right: 0;
        padding-bottom: 0.5rem;
    }
    .contact-form {
        padding-left: 0;
        padding-top: 0.5rem;
    }
    .information-wrap {
        margin-top: 0.7rem;
    }
    .information:not(:last-child) {
        margin-bottom: 0.8rem;
    }
    .contact-input.textarea {
        min-height: 220px;
    }
    .contact::before {
        height: 25px;
    }
    .contact::after {
        height: 75%;
        top: 25%;
    }
    .footer .grid-3 {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-about {
        grid-column: 1 / 3;
    }
    .grid-3-col {
        margin: 1rem 0;
        padding: 0;
    }
    .bottom-footer {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 1.5rem 0 0 0;
        margin-top: 2.5rem;
        position: relative;
    }
    .bottom-footer::before {
        content: "";
        position: absolute;
        width: 90%;
        max-width: 500px;
        height: 1px;
        background-color: #7b7b7b;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .followme-wrap {
        margin-top: 0.8rem;
        display: flex;
    }
}

@media(max-width: 600px) {
    .grid-item {
        width: 100%;
    }
    .personal-skills-card .box {
        grid-template-columns: 1fr;
        padding: 3.2rem 2.7rem;
        width: 100%;
    }
    .box canvas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        bottom: 50%;
        left: 50%;
    }
}

@media(max-width: 560px) {
    .container {
        padding: 0 2rem;
    }
    .title {
        font-size: 1.8rem;
    }
    .text {
        font-size: 0.92rem;
    }
    .records .container {
        grid-template-columns: 1fr;
    }
    .container .personal-skills-card {
        grid-template-columns: 1fr;
    }
    .contact {
        padding: 8rem 0 5rem 0;
    }
    .contact-info {
        display: none;
    }
    .contact-box {
        padding: 2.3rem 2rem;
        border-radius: 30px;
    }
    .contact::before {
        background-size: 200%;
    }
    .contact-form .row {
        grid-column-gap: 0.3rem;
    }
    .contact-input {
        font-size: 0.8rem;
        padding: 0.8rem 1.4rem;
        margin: 0.25rem 0;
    }
    .personal-skills-card .box {
        grid-template-columns: 1fr;
        padding: 3.2rem 2.7rem;
        width: 100%;
    }
    .box canvas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        bottom: 50%;
        left: 50%;
    }
}

@media(max-width: 280px) {
    .container {
        padding: 1rem 1rem;
    }
    .section {
        padding: 0.9rem 0;
        background-color: var(--light-two);
    }
    .skills .skills-card {
        width: 100%;
        margin: 0.9rem;
        padding: 0rem;
    }
    .text {
        font-size: 0.4rem;
    }
    .personal-skills-card .box {
        grid-template-columns: 1fr;
        padding: 3.2rem 2.7rem;
        width: 100%;
    }
    .box canvas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        bottom: 50%;
        left: 50%;
    }
}


/*==============End Responsive design ================*/
